body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

/*navigation*/

.navbar {
  background-color: lightblue;
  border-radius: 1rem;
}

.navbar a {
  color: #040404;
  display: block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #040404;
}

/*diverses*/

.section{
    padding: 2rem 1.5rem;
}

.centerPic{
    display: flex;
    justify-content: center;
}

.linkformat{
  text-decoration: underline;
}

i{
  font-style: italic;
}

h1{
  font-size: large;
  font-weight: bold;
}

h2{
  font-style: normal;
  font-size: larger;
  text-decoration: underline;
}

/*part for slide in pics*/

.container {
  display: flex;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: lightblue;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  display: flex;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: inherit;
  color: white;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}